@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600;700&family=Source+Sans+3:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

h1,
h2,
h3 {
  font-family: "Source Code Pro", monospace;
  letter-spacing: 0.1rem;
}
